html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



.navbar{
	background-color: #2f3360;
	font-family: 'Harmattan', sans-serif;
	font-size: 1.3rem;
}

.fixed-top{
	position: fixed;
}

.img-publicaciones{
	padding-left: 2rem;
}

h5{
	/*font-size: 5rem;*/
	color: black;
	font-family: 'Cantora One', sans-serif;
	font-weight: bold;
}

h3{
	font-weight: bold;
	color: black;
	font-family: 'Cantora One', sans-serif;
}

.titulo{
	color: black;
	padding: 1rem;
	font-family: 'Cantora One', sans-serif;
}

.carousel-caption h6{
/*	font-size: 3rem;*/
	color: #2f3360;
	font-family: 'Cantora One', sans-serif;
}

.carousel-item img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img-fluid{
	padding: 0;
	margin: 0;
	overflow: hidden;
}


@media (min-width: 0px) {
	.carousel-inner{ width:100%; height: 250px !important;}
    h5 { font-size: 2rem; }
 h3 { font-size: 1.3rem; }
     .carousel-caption h6 { font-size: 1.2rem; }  
     .card-deck{ padding-top: 0; }
     .card-img-top {
     	padding-top: .5rem;
     	padding-left: 25%;
       width: 50%;
       border-top-left-radius: calc(0.25rem - 1px);
       border-top-right-radius: calc(0.25rem - 1px);
     }
     .titulo{font-size: .7rem}
     .img-publicaciones{padding-left: 1rem;  width: 50%;}

     
}
@media (min-width: 568px) {
		.carousel-inner{ width:100%; height: 300px !important;}
     h5  { font-size: 3rem; }
  h3 { font-size: 2.3rem; }
     .carousel-caption h6 { font-size: 2.2rem; }
     .card-deck{ padding-top: .5rem; }
     .card-img-top {
     padding-top: .5rem;
     	padding-left: 10%;
       width: 95%;
       border-top-left-radius: calc(0.25rem - 1px);
       border-top-right-radius: calc(0.25rem - 1px);
     }
     .titulo{font-size: 1.5rem}
      .img-publicaciones{margin-left:1rem; padding-left: 2.5rem;  width: 100%;}
}
@media (min-width: 992px) {
		.carousel-inner{ width:100%; height: 350px !important;}
   h5  { font-size: 4rem; }
   h3 { font-size: 3.3rem; }
     .carousel-caption h6 { font-size: 3.2rem; }
     .card-deck{ padding-top: .5rem; }
     .titulo{font-size: 2.4rem}
      .img-publicaciones{margin-left:1rem;  padding-left: 2.5rem;  width: 100%;}
}
@media (min-width: 1200px) {
		.carousel-inner{ width:100%; height: 400px !important;}
    h5  { font-size: 5rem; }
   h3 { font-size: 4.3rem; }
     .carousel-caption h6 { font-size: 4.2rem; }
     .card-deck{ padding-top: .5rem; }
     .titulo{font-size: 3.5rem}
      .img-publicaciones{margin-left:1rem;  padding-left: 2.5rem;  width: 100%;}
}

.card{
	text-align: center;
}